<a href="https://colab.research.google.com/github/samarth2015/CS203_Lab_2/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandera Validation

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Importing Libraries

In [20]:
!pip install pandera -q

In [4]:
import numpy as np
import pandas as pd
import pandera as pa
import matplotlib.pyplot as plt

In [5]:
import warnings
import json

warnings.filterwarnings('ignore')

## Importing and getting info of data

In [6]:
#view citibiki trip data

citibike_data = pd.read_csv('/content/drive/MyDrive/202412-citibike-tripdata/202412-citibike-tripdata_1.csv')
citibike_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B44E5B10AEE58AD0,classic_bike,2024-12-14 10:58:18.153,2024-12-14 11:11:11.308,Frederick Douglass Blvd & W 145 St,7954.12,E 138 St & 5 Ave,7809.13,40.823061,-73.941928,40.814490,-73.936153,member
1,BC252DC6A6011556,electric_bike,2024-12-12 14:46:12.473,2024-12-12 16:45:37.777,Madison Ave & E 99 St,7443.01,NaN,NaN,40.789485,-73.952429,40.780000,-73.960000,member
2,6FBE55EF6FE8736D,electric_bike,2024-12-11 07:55:18.770,2024-12-11 08:02:23.460,Columbia St & Kane St,4422.05,NaN,NaN,40.687632,-74.001626,40.690000,-74.000000,member
3,908890DE7FDCF9FE,electric_bike,2024-12-09 22:51:11.668,2024-12-09 22:57:43.495,E 13 St & 2 Ave,5820.08,E 10 St & 2 Ave,5746.02,40.731539,-73.985302,40.729708,-73.986598,member
4,D5D366379A4DC0A8,classic_bike,2024-12-10 18:48:40.063,2024-12-10 19:10:32.264,11 Ave & W 41 St,6726.01,E 25 St & 1 Ave,6004.07,40.760301,-73.998842,40.738177,-73.977387,member

In [7]:
citibike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1000000 non-null  object
 1   rideable_type       1000000 non-null  object
 2   started_at          1000000 non-null  object
 3   ended_at            1000000 non-null  object
 4   start_station_name  999375 non-null   object
 5   start_station_id    999375 non-null   object
 6   end_station_name    996417 non-null   object
 7   end_station_id      995525 non-null   object
 8   start_lat           1000000 non-null  float64
 9   start_lng           1000000 non-null  float64
 10  end_lat             999795 non-null   float64
 11  end_lng             999795 non-null   float64
 12  member_casual       1000000 non-null  object
dtypes: float64(4), object(9)
memory usage: 99.2+ MB

In [19]:
#check that all the ride_ids are unique
print(citibike_data.shape[0] == len(citibike_data['ride_id'].unique()))

#get the unique rideable types
print(citibike_data['rideable_type'].unique())

#get the unique member_casual
print(citibike_data['member_casual'].unique())

True
['classic_bike' 'electric_bike']
['member' 'casual']

In [9]:
print(type(citibike_data['started_at'][0]))

<class 'str'>

In [10]:
#convert the start_station_id and end_station_id to string
citibike_data['start_station_id'] = citibike_data['start_station_id'].astype(str)
citibike_data['end_station_id'] = citibike_data['end_station_id'].astype(str)

## a. Validate the datatype of each column.

In [16]:
schema_1 = pa.DataFrameSchema({
    #validating the datatypes of the columns.

    'ride_id': pa.Column(pa.String, nullable=False),

    #for categorical values we can use isin to validate
    'rideable_type': pa.Column(pa.String, checks = [
        pa.Check.isin(['classic_bike', 'electric_bike'])
    ], nullable=False),

    'started_at': pa.Column(pa.String, nullable=False),

    'ended_at': pa.Column(pa.String, nullable=False),

    'start_station_name': pa.Column(pa.String, nullable=False),
    'start_station_id': pa.Column(pa.String, nullable=False),

    'end_station_name': pa.Column(pa.String, nullable=False),
    'end_station_id': pa.Column(pa.String, nullable=False),

    #data types of the latitude and longitude are float
    'start_lat': pa.Column(pa.Float, nullable=False),
    'start_lng': pa.Column(pa.Float, nullable=False),

    'end_lat': pa.Column(pa.Float, nullable=False),
    'end_lng': pa.Column(pa.Float, nullable=False),

    'member_casual': pa.Column(pa.String, checks = [
        pa.Check.isin(['member', 'casual'])
    ], nullable=False),


}, drop_invalid_rows=False)


try:
    schema_1.validate(citibike_data, lazy=True)
except pa.errors.SchemaErrors as e:
    print(json.dumps(e.message, indent=2))

{
  "SCHEMA": {
    "SERIES_CONTAINS_NULLS": [
      {
        "schema": null,
        "column": "start_station_name",
        "check": "not_nullable",
        "error": "non-nullable series 'start_station_name' contains null values:7183      NaN8010      NaN9244      NaN10186     NaN10791     NaN         ... 995036    NaN999616    NaN999641    NaN999668    NaN999688    NaNName: start_station_name, Length: 625, dtype: object"
      },
      {
        "schema": null,
        "column": "end_station_name",
        "check": "not_nullable",
        "error": "non-nullable series 'end_station_name' contains null values:1         NaN2         NaN204       NaN206       NaN207       NaN         ... 426414    NaN426418    NaN426421    NaN426422    NaN426424    NaNName: end_station_name, Length: 3583, dtype: object"
      },
      {
        "schema": null,
        "column": "end_lat",
        "check": "not_nullable",
        "error": "non-nullable series 'end_lat' contains null values:2143     NaN2270     NaN2332     NaN5335     NaN7777     NaN          ..426271   NaN426301   NaN426332   NaN426360   NaN426393   NaNName: end_lat, Length: 205, dtype: float64"
      },
      {
        "schema": null,
        "column": "end_lng",
        "check": "not_nullable",
        "error": "non-nullable series 'end_lng' contains null values:2143     NaN2270     NaN2332     NaN5335     NaN7777     NaN          ..426271   NaN426301   NaN426332   NaN426360   NaN426393   NaNName: end_lng, Length: 205, dtype: float64"
      }
    ]
  }
}

## b. Analyze each feature and write an appropriate check/scheme for them. For example, for “rideable_type” check the unique options and ensure that no other entry passes the check.

In [15]:
schema_2 = pa.DataFrameSchema({
    'ride_id': pa.Column(pa.String, checks = [
        pa.Check(lambda s: s.str.len() == 16)
    ], nullable=False),

    'rideable_type': pa.Column(pa.String, checks = [
        pa.Check.isin(['classic_bike', 'electric_bike'])
    ], nullable=False),


    'start_lat': pa.Column(pa.Float, checks = [
        pa.Check.ge(-90), pa.Check.le(90)
    ], nullable=False),
    'start_lng': pa.Column(pa.Float, checks = [
        pa.Check.ge(-180), pa.Check.le(180)
    ], nullable=False),

    'end_lat': pa.Column(pa.Float, checks = [
        pa.Check.ge(-90), pa.Check.le(90)
    ], nullable=False),
    'end_lng': pa.Column(pa.Float, checks = [
        pa.Check.ge(-180), pa.Check.le(180)
    ], nullable=False),

    'member_casual': pa.Column(pa.String, checks = [
        pa.Check.isin(['member', 'casual'])
    ], nullable=False),


}, drop_invalid_rows=False)


try:
    schema_2.validate(citibike_data, lazy=True)
except pa.errors.SchemaErrors as e:
    print(json.dumps(e.message, indent=2))

{
  "SCHEMA": {
    "SERIES_CONTAINS_NULLS": [
      {
        "schema": null,
        "column": "end_lat",
        "check": "not_nullable",
        "error": "non-nullable series 'end_lat' contains null values:2143     NaN2270     NaN2332     NaN5335     NaN7777     NaN          ..426271   NaN426301   NaN426332   NaN426360   NaN426393   NaNName: end_lat, Length: 205, dtype: float64"
      },
      {
        "schema": null,
        "column": "end_lng",
        "check": "not_nullable",
        "error": "non-nullable series 'end_lng' contains null values:2143     NaN2270     NaN2332     NaN5335     NaN7777     NaN          ..426271   NaN426301   NaN426332   NaN426360   NaN426393   NaNName: end_lng, Length: 205, dtype: float64"
      }
    ]
  }
}

## c. Add data validation rules to verify that a ride's end time occurs after its start time using Pandera's decorator functionality.

In [17]:
citibike_data['started_at'] = pd.to_datetime(citibike_data['started_at'])
citibike_data['ended_at'] = pd.to_datetime(citibike_data['ended_at'])

In [18]:
schema_time = pa.DataFrameSchema({
    'time_diff' : pa.Column(pa.Float, checks = [
        pa.Check.ge(0)
    ], nullable=False)
})

@pa.check_output(schema_time)
def preprocessor(dataframe):
    dataframe["time_diff"] = citibike_data["ended_at"] - citibike_data["started_at"]
    dataframe["time_diff"] = dataframe["time_diff"].dt.total_seconds()
    dataframe["time_diff"] = pd.to_numeric(dataframe["time_diff"], downcast="float")
    return dataframe

citibike_processed = preprocessor(citibike_data)

try:
    schema_time.validate(citibike_processed, lazy=True)
    print("Success")
except pa.errors.SchemaErrors as e:
    print(json.dumps(e.message, indent=2))

Success